.navbar {
  background-color: #333;
  padding: 10px;
  color: #fff;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.brand {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.navbar-items {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.welcome-message {
  margin-right: 20px;
}

.button-container {
  display: flex;
  align-items: center;
}

button {
  width: 150px;
}

.users-button {
  margin-right: 20px;
  background-color: #13f51e;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.view-account {
  margin-right: 20px;
  background-color: rgb(0, 0, 255);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.sign-out-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
